/* //TODO: 제작CSS */

#myback1 {
    background-image: url('../../assets/images/DetailImages/bridal_main.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    height: 700px;
}

/* TODO: 07/03 수정 */
.detail-main {
    height: 1600px;
    width: auto;
    margin-left: 200px;
}

.detail-main::before {
    content: "";
    background-image: url('../../assets/images/DetailImages/bouquet.jpg');
    background-size: cover;
    position: absolute;
    margin-top: 800px;
    margin-bottom: 600px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.2;
}

.detail-maintext1 {
    font-size: 25px;
    line-height: 48px;
    font-weight: 500;
    text-align: center;
    color: #5a5a52;
    margin-bottom: 80px;    
}

.bridal-main {
    position: relative;
}

.bridal_text {
    color: #000;
    font-family: notokrL, gothamL, playfair;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 50px;
}



/* 수정끝 */

